.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


// HEADER IMAGE HOMEPAGE

.st0{fill:#E0E0E0;}
.st1{fill:#FFFFFF;}
.st2{opacity:0.3;}
.st3{fill:#EBEBEB;}
.st4{fill:#B6883F;}
.st5{display:none;}
.st6{display:inline;fill:#EBEBEB;}
.st7{fill:#455A64;}
.st8{fill:#263238;}
.st9{fill:#FAFAFA;}
.st10{fill:#FFBE9D;}
.st11{fill:#EB996E;}

// REACT IMAGE HOMEPAGE

.react .cls-1{fill:#bbb;}
.react .cls-2{fill:#c58836;}
.react .cls-3{fill:#fff;}
.react .cls-4{fill:#455a64;}
.react .cls-5{fill:#e1e1e1;}
.react .cls-6{fill:#263238;}
.react .cls-7{fill:#c78976;}
.react .cls-8{fill:#b66955;}
.react .cls-9{fill:#fafafa;}
.react .cls-10{fill:none;}

.catagories .react:hover .cls-2{
  fill:$secondary-color;
}


// ECOMMERCE IMAGE HOMEPAGE

.ecommerce .cls-1{fill:none;}
.ecommerce .cls-2{fill:#bbb;}
.ecommerce .cls-3{fill:#fff;}
.ecommerce .cls-4{opacity:0.5;}
.ecommerce .cls-5{fill:#ebebeb;}
.ecommerce .cls-6{fill:#263238;}
.ecommerce .cls-7{fill:#455a64;}
.ecommerce .cls-8{fill:#fafafa;}
.ecommerce .cls-9{clip-path:url(#c);}
.ecommerce .cls-10{fill:#b6883f;}
.ecommerce .cls-11{opacity:0.2;}
.ecommerce .cls-12{opacity:0.4;}
.ecommerce .cls-13{fill:#c78976;}
.ecommerce .cls-14{opacity:0.3;}
.ecommerce .cls-15{fill:#995037;}
.ecommerce .cls-16{clip-path:url(#b);}
.ecommerce .cls-17{clip-path:url(#a);}
.ecommerce .cls-18{opacity:0.8;}
.ecommerce .cls-19{opacity:0.7;}
.ecommerce .golddress .cls-10{fill:#b6883f !important;}
.ecommerce .greydress .cls-10{fill:#bbb  !important;}
.ecommerce .greendress .cls-10{fill:#455a64  !important;}
.ecommerce .darkgreendress .cls-10{fill:#263238  !important;}

.catagories .ecommerce:hover .cls-10{
  fill:$secondary-color;
}


// EMAIL IMAGE HOMEPAGE

.email .cls-1{fill:#bbb;}
.email .cls-2{fill:#c58836;}
.email .cls-3{fill:#fff;}
.email .cls-4{fill:#455a64;}
.email .cls-5{fill:#fafafa;}
.email .cls-6{fill:#263238;}
.email .cls-7{opacity:0.3;}
.email .cls-8{opacity:0.5;}
.email .cls-9{fill:#ffbf9d;}
.email .cls-10{opacity:0.2;}
.email .cls-11{opacity:0.6;}
.email .cls-12{fill:#ff9a6c;}
.email .cls-13{fill:none;}

.catagories .email:hover .cls-2{
  fill:$secondary-color;
}


// DESIGN IMAGE HOMEPAGE

.design .cls-1{fill:#fafafa;}
.design .cls-2{fill:#f5f5f5;}
.design .cls-3{fill:#bbb;}
.design .cls-4{fill:#e1e1e1;}
.design .cls-5{fill:#c58836;}
.design .cls-6{fill:#fff;}
.design .cls-7{fill:#455a64;}
.design .cls-8{fill:#ffbf9d;}
.design .cls-9{fill:#263238;}
.design .cls-10{fill:#ff9a6c;}
.design .cls-11{fill:none;}

.catagories .design:hover .cls-5{
  fill:$secondary-color;
}





