/******** Navigation *********/

#nav-button {
	padding: 0;
	border: none;
	background: url("./img/burger-menu-closed.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 2rem;
	height: 2rem;
}

#nav-button.open {
	background: url("./img/burger-menu-open.svg");
	background-repeat: no-repeat;
}

#nav-container {
	position: relative;
	width: 100%;
	z-index: 2;
}

#nav {
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	top: -600px;
}

nav {
	color: $primary-color;
	text-align: center;
	a {
		display:block;
		border-style: solid;
		border-width: 0 0 1px 0;
		border-color: $primary-color;
		font-size: 1.5em;
		margin: 0.5rem 0;
	}
	a.selected {
		color: $primary-color;
	}
	a:hover {
		color: $secondary-color;
	}
}

.rollover li {
	display: block;
	width: 13px;
	height: 14px;
	background-image: url('/../img/home-icon-black.svg');
}

.rollover li:hover {
	display: block;
	width: 13px;
	height: 14px;
	background-image: url('/../img/home-icon-black.svg');
}

.mobile-nav button:focus {
	outline: none;
}

.mobile-nav button {
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
	background-color: transparent;
}

.open-close-button svg g:nth-child(3) {
	display: inherit;
}

.open-close-button svg g:nth-child(2) {
	transform: rotate(0deg);
	transition: .25s ease-in-out;
	transform-origin: 50% 50%;
}


/*.open-close-button.open svg g:nth-child(3) {
  display: none;
}*/

.open-close-button.open svg g:nth-child(2) {
	transform: rotate(90deg);
	transform-origin: 50% 50%;
}

/******** TABLET LAYLOUTS *********/

@media screen and (min-width: 768px) {

	#nav-button {
		display: none;
	}

	#nav {
		position: relative !important;
		background-color: unset;
		top: 0 !important;
	}

	nav {
		text-align: left;
		color: #FFF;
		margin-bottom: 2rem;
	}
	nav a {
		display: inline-block;
		margin: 0px 2px 0px 2px;
		padding: 0;
		border-width: 0;
		font-size: 1rem;
	}
	nav a::after { 
		 content: " | ";
	}
	nav a:last-of-type::after { 
		 content: "";
	}
	
}











